/* App Window */
@define-color bg_color #c0caf5;
@define-color window_bg @bg_color;
@define-color window_border_color #34548a;
@define-color prefs_backgroud #a9b1d6;

/* Input */
@define-color selected_bg_color #414868;
@define-color selected_fg_color #9aa5ce;
@define-color input_color #1a1b26;
@define-color caret_color darker(@input_color);

/* Result item */
@define-color item_name #34548a;
@define-color item_text #565a6e;
@define-color item_box_selected #414868;
@define-color item_name_selected #1a1b26;
@define-color item_text_selected #343b58;
@define-color item_shortcut_color #34548a;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #1a1b26;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

.app {
  padding: 1px 5px 1px 5px;
  background-color: alpha (@window_bg, 0.91);
  border-color: alpha (@window_border_color, 0.9);
  border-radius: 12px;
}

.input {
  color: @input_color;
  font-size: 33px;
}

/* Selected text in input */
.input *:selected,
.input *:focus,
*:selected:focus {
  background-color: alpha (@selected_bg_color, 0.95);
  color: @selected_fg_color;
}

.item-text {
  color: @item_text;
}
.item-name {
  color: @item_name;
  font-size: 18px;
}

.selected.item-box {
  background-color: alpha (@item_box_selected, 0.3);
  border-left: 1px solid @window_border_color;
  border-right: 1px solid @window_border_color;
  border-radius: 8px;
}
.selected.item-box .item-text {
  color: @item_text_selected;
}
.selected.item-box .item-name {
  color: @item_name_selected;
}
.item-shortcut {
  color: @item_shortcut_color;
  text-shadow: 0px 0px 0px @item_shortcut_shadow;
  font-size: 18px;
}
.selected.item-box .item-shortcut {
  color: @item_shortcut_color_sel;
  text-shadow: 0px 0px 0px @item_shortcut_shadow_sel;
}

.prefs-btn {
  opacity: 0.9;
}
.prefs-btn:hover {
  background-color: @prefs_backgroud;
}
