.Leader {
  stroke-width: 0.5 !important;
  stroke: #545c7e;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #e9e9ed;
  fill: #e9e9ed;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #545c7e !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #e9e9ed !important;
  fill: #545c7e !important;
}
